@model List<DapperNightProject.Dtos.EmployeeDtos.ResultEmployeeWithDepartmentDto>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Personel Adı</th>
            <th>Personel Soyadı</th>
            <th>Personel Maaşı</th>
            <th>Departman Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Salary</td>
                <td>@item.DepartmentName</td>
                <td><a href="/Employee/DeleteEmployee/@item.EmployeeId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Employee/UpdateEmployee/@item.EmployeeId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <td><a href="/Employee/CreateEmployee/" class="btn btn-info">Yeni Departman Girişi</a></td>
</div>
